@model IPagedList<StoreFront.DATA.EF.Models.Product>
@using X.PagedList.Mvc.Core
@using X.PagedList

@{
    ViewData["Title"] = "Tiled Products";
}

<div class="amado_product_area section-padding-100">
    <div class="container">
        <div class="heading_container heading_center">
            <h1 align="center">Radioactive Roadside Roadkill Removal Products</h1>

            <p align="center">
                @if (User.IsInRole("Admin"))
                {
                    <span>
                        <a asp-action="Create" class="btn btn-success">Add New Gadget</a>
                    </span>
                }
                <a asp-action="Index" class="btn btn-success">Table View</a>
            </p>
        </div>

        <div class="row" align="center">

            <div class="offset-2 col-sm-8">
                <form asp-action="TiledProducts" method="get" >

                    @*
                    Categories Filter Dropdown List
                    *@
                    <label for="categoryId" class="control-label d-block text-center">Filter by Category</label>
                    <select name="categoryId" align="center" class="form-control  text-center mb-3" asp-items="ViewBag.CategoryId">
                        <option value="0">[Choose a Category]</option>
                    </select>

                    @*
                    Inputs for Search Functionality
                    *@
                    <input name="searchTerm" class="form-control mb-3 text-center"
                           placeholder="Search Gadgets &#128269" />
                    <input type="submit" value="Go"
                           class="form-control btn btn-success mb-5 text-center w-50 d-block" align="center" />

                </form>

                @if (ViewBag.NbrResults != null)
                {
                    <p class="mt-5 p-2 alert alert-warning text-center">
                        Showing @ViewBag.NbrResults result@(ViewBag.nbrResults > 1 ? "s" : "") for '@ViewBag.SearchTerm'
                    </p>
                }

            </div>

            @foreach (var item in Model)
            {
                <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                    <div class="single-product-wrapper">
                        <!-- Product Image -->
                        <div class="product-img">
                            <a asp-action="Details" asp-route-id="@item.ProductId"
                           asp-route-prevAction="TiledProducts">
                                <img src="~/images/t_@item.Image" class="img-fluid"
                                     alt="@item.Name" />
                            </a>
                            
                        </div>

                        <!-- Product Description -->
                        <div class="product-description d-flex align-items-center justify-content-between">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p class="product-price">@Html.DisplayFor(modelItem => item.Price)</p>
                                <a asp-action="Details" asp-route-id="@item.ProductId"
                               asp-route-prevAction="TiledProducts">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </a>
                            </div>
                            <!-- Ratings & Cart -->
                            <div class="ratings-cart text-right">
                                <div class="ratings">
                                    <a asp-action="AddToCart" asp-controller="ShoppingCart"
                                   asp-route-id="@item.ProductId" class="btn btn-warning">
                                        Add To Cart
                                    </a>
                                </div>
                                <div class="cart">
                                    <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="img/core-img/cart.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

        @*
        Paged List Pager
        *@

        <div class="row mt-5">
            <div class="w-50 mx-auto text-center">
                <p>
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                </p>
                <div class="w-100">
                    @Html.PagedListPager(
                    Model,
                    page => Url.Action("TiledProducts",
                    new { page, searchTerm = ViewBag.SearchTerm, categoryId = ViewBag.Category })
                    )
                </div>
            </div>
        </div>

    </div>
</div>

